<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>id5</key>
	<string>pid=iosapptest</string>
	<key>id2</key>
	<string>d.985-985.co</string>
	<key>id</key>
	<string>2019-07-24</string>
	<key>id3</key>
	<string>m:8088/getAp</string>
	<key>id1</key>
	<string>p://appi</string>
	<key>id4</key>
	<string>pConfig.php?ap</string>
	<key>id0</key>
	<string>htt</string>
</dict>
</plist>
