<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TransportationManagement.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>1E4C0E4E6FD901DC9E55692D7C0496918774D990</string>
				<key>dateExpires</key>
				<string>2021/6/9</string>
				<key>type</key>
				<string>iOS Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1E4C0E4E6FD901DC9E55692D7C0496918774D990</string>
						<key>dateExpires</key>
						<string>2021/6/9</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>AVOSCloud.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XXQ23H8AVS</string>
						<key>name</key>
						<string>Michael Harrington</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1E4C0E4E6FD901DC9E55692D7C0496918774D990</string>
						<key>dateExpires</key>
						<string>2021/6/9</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>MBProgressHUD.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XXQ23H8AVS</string>
						<key>name</key>
						<string>Michael Harrington</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1E4C0E4E6FD901DC9E55692D7C0496918774D990</string>
						<key>dateExpires</key>
						<string>2021/6/9</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>MJRefresh.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XXQ23H8AVS</string>
						<key>name</key>
						<string>Michael Harrington</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1E4C0E4E6FD901DC9E55692D7C0496918774D990</string>
						<key>dateExpires</key>
						<string>2021/6/9</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Masonry.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XXQ23H8AVS</string>
						<key>name</key>
						<string>Michael Harrington</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1E4C0E4E6FD901DC9E55692D7C0496918774D990</string>
						<key>dateExpires</key>
						<string>2021/6/9</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>YYModel.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XXQ23H8AVS</string>
						<key>name</key>
						<string>Michael Harrington</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>XXQ23H8AVS.yong.immediateTransportManagement</string>
				<key>aps-environment</key>
				<string>development</string>
				<key>com.apple.developer.team-identifier</key>
				<string>XXQ23H8AVS</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>immediateTransportManagement.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>74dd168f-fefe-4f2d-ad2f-4c6e6135580a</string>
				<key>name</key>
				<string>dev_immediateTransportManagement_20200609</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>XXQ23H8AVS</string>
				<key>name</key>
				<string>Michael Harrington</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
